/* .col{
    background-color: greenyellow;
} */

.hom1{
    background-color: rgb(253, 246, 248);
}

  .mov{
    height: 400px;
    position: relative;
    -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;  /* Safari 4.0 - 8.0 */  
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
    animation-iteration-count: 5000;
  animation-direction: alternate-reverse; 
}

@-webkit-keyframes example {
    from {top: 0px;}
    to {top: 30px;}
  }
  
 @keyframes example {
    from {top: 0px;}
    to {top: 50px;}
  } 

  .shade{
    color: grey;
  }

  .card{

  }
  